if SHIELD_PKKSPLIT45_LEFT

config ZMK_KEYBOARD_NAME
    default "pkksplit45"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PKKSPLIT45_LEFT || SHIELD_PKKSPLIT45_RIGHT

config ZMK_SPLIT
    default y

endif
